@media only screen and (max-width:425px) {
	header{
		width:377px;
		height: 25px;
		margin-left:0.5px;
		font-size: 14pt;
		margin-top: 60px;
		margin-right:px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		font-weight: bolder;
		font-family: monospace;
		border-color: white;
		color: fuchsia;

	
}
}
@media only screen and (max-width:425px) {
	.LOGINBOX{
		font-family: sans-serif;
		margin-top: 30px;
		margin-left: 30px;
		margin-right: 8px;
		border-style: solid;
		border-top-width: 10px;
		border-bottom-width: 10px;
		border-right-width: 10px;
		border-left-width: 10px;
		width: 269px;
		height: 210px;	
		font-size: 10pt;
		font-weight: bolder;
		padding-left: 18px;
		padding-right: 18px;
		padding-top: 38px;
		padding-bottom: 0px;
		margin-bottom: 70px;


	}
}
	
/*THE CSS RULES BELOW WILL STYLE THE CLASS NEWACCOUNT*/
@media only screen and (max-width:425px) {
	.NEWACCOUNT{
	font-size: 10pt;
	margin-left: 25px;
	margin-top: 20px;
}
}

@media only screen and (max-width:425px ) {
	footer{
	font-weight: bolder;
	font-size:10pt;
	margin-top: 10px; 
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	border-color: black;
	border-style: solid;
	border-bottom-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
	border-bottom-width: 5px;
	width: 350px;
	background-color: white;
	border-color:black;
	border-style: double;
	}

}